# **Activity 1: NumPy Exercise**

**Objective:**

Practice NumPy's array manipulation, indexing, and mathematical functions by solving problems related to basic data analysis and matrix operations.

## **Part 1**

#### 1. Import the numpy package under the name `np`

In [4]:
import numpy as np

#### 2. Print the numpy version

In [6]:
print(np.version.version)

2.2.2

#### 3. Create a null array of size 5

In [5]:
np.array([None,None,None,None,None])

array([None, None, None, None, None], dtype=object)

#### 4. Create a null array of size 15 but the seventh value which is 1

In [8]:
x = []
for i in range(15):
    if i == 14:
        x.append(1)
    else:
        x.append(None)

print(np.array(x))

[None None None None None None None None None None None None None None 1]

#### 5. Create a 4x4 matrix with values ranging from 0 to 11

In [13]:
a = np.arange(0, 16).reshape(4,4)
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

#### 6. Find indices of non-zero elements from [1,2,4,0,4,0]

In [14]:
arr = np.array([1, 2, 4, 0, 4, 0])
x = np.where(arr == 0)
print(x)

(array([3, 5]),)

#### 7. Create a 4x4x4 array with random values

In [32]:
from numpy import random
a = random.rand(4,4,4)
print(a)

[[[0.07965219 0.84091112 0.41324215 0.37324121]
  [0.41706856 0.54722024 0.30782865 0.79995338]
  [0.41071317 0.62392857 0.68334805 0.86164669]
  [0.40352237 0.96342597 0.70235387 0.45679791]]

 [[0.34065816 0.46048847 0.87881994 0.3680335 ]
  [0.85824158 0.84828752 0.91281319 0.60236429]
  [0.06181935 0.39872226 0.37179768 0.28792278]
  [0.31599705 0.16650598 0.47542804 0.49444035]]

 [[0.72104005 0.00481479 0.64920495 0.83225911]
  [0.96925512 0.84440098 0.83931694 0.70106823]
  [0.99952496 0.30665456 0.95899006 0.2488705 ]
  [0.823172   0.89958463 0.79211982 0.61584686]]

 [[0.27413305 0.45328788 0.28183429 0.39996351]
  [0.08081985 0.60804423 0.38257664 0.38916748]
  [0.72669439 0.46479043 0.15705368 0.54075599]
  [0.34948554 0.15758826 0.96608464 0.8943756 ]]]

#### 8. Create a 15x15 array with random assigned values and find the min and max values

In [45]:
array = np.random.rand(15,15)
print(array)
min = array.min()
max = array.max()
print("Minimum Value: ", min)
print("Maximum Value: ", max)

[[0.05170019 0.19590914 0.76297626 0.38447433 0.62750234 0.16725351
  0.50801837 0.55847606 0.51383501 0.08326749 0.79118229 0.33825868
  0.3978419  0.78143036 0.8956661 ]
 [0.57526804 0.87771122 0.45653417 0.65187067 0.24233237 0.315194
  0.80057511 0.10852976 0.29556371 0.19410715 0.4509251  0.47761125
  0.86100412 0.12727064 0.32470083]
 [0.86984702 0.47704363 0.05375982 0.69237246 0.07907709 0.37942894
  0.49986926 0.73254632 0.4094573  0.43904951 0.51100034 0.94458568
  0.24853789 0.32715498 0.62154791]
 [0.27193469 0.7701427  0.72046173 0.61816383 0.4347252  0.68394365
  0.99367696 0.8134871  0.30631209 0.33793095 0.76570248 0.79550622
  0.32762387 0.66223167 0.08830216]
 [0.77657449 0.88445844 0.24712939 0.5332462  0.190238   0.11069323
  0.37790566 0.48792235 0.58352047 0.98955587 0.18236406 0.40275423
  0.62835253 0.84533503 0.50157008]
 [0.4556847  0.31467854 0.91597232 0.63047954 0.91010516 0.00861698
  0.38012227 0.42207524 0.84943629 0.55502346 0.64859245 0.01758104
  0.49449018 0.67965609 0.37473992]
 [0.18041928 0.72334804 0.12126195 0.79941764 0.67600903 0.771996
  0.03980622 0.5216952  0.80693504 0.13625314 0.83916671 0.62811684
  0.00202636 0.78612667 0.55737464]
 [0.29339603 0.28858021 0.36908475 0.33113611 0.51255499 0.38317214
  0.49097736 0.51067615 0.87230612 0.50939821 0.70123549 0.17926373
  0.49980943 0.22757214 0.88507042]
 [0.43022091 0.92501369 0.56250278 0.95883695 0.14849952 0.99668427
  0.9495136  0.65816161 0.2901316  0.15084083 0.55332887 0.16885393
  0.72903426 0.74938033 0.10467192]
 [0.09044993 0.39849972 0.72759232 0.44259779 0.47466124 0.06439149
  0.35580043 0.60304817 0.81776602 0.74220451 0.89159055 0.42753074
  0.73192078 0.17266218 0.15333779]
 [0.79385528 0.58043508 0.36811948 0.07463646 0.71391854 0.87056346
  0.38092288 0.5604851  0.20988105 0.26025745 0.62907226 0.76650618
  0.67271456 0.34958949 0.89221258]
 [0.73804257 0.19719477 0.66014308 0.31703471 0.53404146 0.22305391
  0.33761769 0.0610837  0.57859168 0.19373956 0.72805477 0.51104597
  0.44410339 0.46856233 0.1944182 ]
 [0.91683821 0.19606406 0.19329454 0.07405109 0.49351025 0.62035434
  0.58334374 0.27366922 0.56505582 0.48254499 0.69724412 0.3719702
  0.24166076 0.64864884 0.39571772]
 [0.93313126 0.49344352 0.94602136 0.48368551 0.0137161  0.38372473
  0.97381092 0.9715164  0.47557276 0.24686002 0.43394039 0.63631167
  0.81085183 0.06658391 0.69723444]
 [0.61662393 0.795187   0.33735296 0.76064777 0.24106057 0.41362578
  0.22971381 0.744297   0.44923305 0.16769035 0.75294958 0.55063072
  0.330081   0.86479407 0.88645034]]
Minimum Value:  0.0020263619763251084
Maximum Value:  0.9966842662088079

#### 9. Create a random array of size 25 and find the mean value

In [ ]:
rand_num = np.random()

#### 10.  Show your codes

Given:

array 1 = ([2, 4, 9])\
array 2 = ([1, 14, 6])

  *Note: Recreate the arrays*

10.1 What is the result of *a + b*?

10.2 What is the result of *a - b*?

10.3 What is the result of *a × b*?

10.4 What is the result of *a ÷ b*?

## **Part 2**

##### NumPy Array Indexing


Given the following matrix:

        [[10, 20, 30],
        [40, 50, 60],
        [70, 80, 90]]

 1. Recreate the matrix

1. Write code to extract the element 50.

2. **Extract a Row**\
\
Using the same array arr, extract the second row as a separate NumPy array.

3.  **Extract a Column**\
\
Using arr, extract the third column as a separate NumPy array.

4. **Extract a Submatrix**\
\
Extract the following 2×2 submatrix from arr:\

  [[50 60]\
 [80 90]]

##### NumPy Array Slicing

Given the following matrix:

                [ 1,  2,  3,  4],
                [ 5,  6,  7,  8],
                [ 9, 10, 11, 12]]

1. Recreate the matrix

2. Write code to extract the following 2×2 subarray:

        [[ 6  7]
        [10 11]]

3. Using the same matrix, write code to extract every other element from the first row (expected output: [1, 3]).

4. Write code to reverse the order of rows in the matrix

5. Write code to extract the last two columns of the matrix.

##### NumPy Array Joins

1. Given the following arrays:

        arr1 = ([11, 7, 33])\
        arr2 = ([44, 5, 18])

1.1 Recreate the arrays

2. Write code to join arr1 and arr2 into a single 1D array.

3. Using arr1 and arr2 from question 1, write code to stack them vertically into a 2D array.

4. Given the 2D arrays:

        arr1 = ([[1, 2],
               [3, 4]])

        arr2 = ([[5, 6],
               [7, 8]])

4.1 Recreate the arrays

5. Write code to join them horizontally (column-wise).

6. Using arr1 and arr2 from question 4, write code to join them vertically (row-wise).

## **Part 3**

### Task 1: Array Creation

Create the following arrays:

- A 1D array of integers from 10 to 28, with a step of 2.
- A 2D array with shape (4, 4) containing random integers between 1 and 50.
- A 3D array of shape (2, 3, 4) filled with ones.

### Task 2: Array Transformations
Perform the following operations:
- Reshape the 1D array to a 2D array with 2 rows.
- Extract the last two rows of the 2D array (From Task 1)
- Replace all even numbers in the 2D array with -1. (From Task 1)

### Task 3: Statistical Operations

Using the 2D array from **Task 1**, compute the following:

- The mean, median, and standard deviation of the array. (From Task 1)
- The sum of all elements along each row. (From Task 1)
- The maximum value and its index in the entire array. (From Task 1)

###  Task 4: Advanced Analysis on Large Arrays

- Create a (10, 10) array containing random floating-point numbers between 0 and 1.
- Find the minimum value along each column.
- Find the indices of the top 5 largest values in the entire array.